<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap.min.css" />
    <script src="/js/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/js/vendor/underscore/underscore-min.js"></script>
    <script src="/js/vendor/handlebars/handlebars-v2.0.0.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1 th:inline="text">Learning with [[${name}]] <small>Debugging with Chrome Developer Tools</small></h1>
		</div>
	    <!-- Google Image results -->
	    <div class="row">
	       <div class="col-md-3" th:each="item : ${googleImages}">
	           <div class="thumbnail">
		    		<img th:src="${item.getImage().getThumbnailLink()}"/>	           
	           </div>
	       </div>
	    </div>
		<div class="row">
		  <div class="col-md-6">
	        <h2>Tweets</h2>
	        <ul class="list-group">
	            <li th:each="status : ${tweets}"
	                th:object="${status.getUser()}"
	                class="list-group-item">
	                <div class="row">
	                   <div class="col-md-2">
	                       <div class="thumbnail">
		                       <img th:src="*{getProfileImageURL()}" />
	                       </div>
	                   </div>
	                   <div class="col-md-8">
		                   <blockquote>
		                      <p th:text="${status.getText()}" />
		                      <footer>
		                          <a th:href="'http://twitter.com/' + *{getScreenName()}" th:text="*{getScreenName()}" />
		                          via <cite th:utext="${status.getSource()}" /> 
		                      </footer>
		                   </blockquote>        
	                   </div>
	                </div>
	            </li>
	        </ul>
	      </div>
	      <div class="col-md-6">
	        <h2>Google Results</h2>
	        <ul class="list-group">
	            <li th:each="item : ${googleResults}"
	                class="list-group-item">
	                <p><a th:href="${item.getLink()}" th:utext="${item.getHtmlTitle()}" /></p>
	                <span th:utext="${item.getHtmlSnippet()}" />
	            </li>
	        </ul>
	      </div>
		</div>
	    <h2>Comments from our teachers</h2>
        <p>
            <a class="btn btn-primary" id="commentSimulation" role="button">
                <span class="glyphicon glyphicon-play-circle"></span>
           </a>
        </p>
        <ul id="comments" class="list-group" th:attr="data-regarding=${name}" />
	</div>
	<script id="commentRowTmpl" type="text/x-handlebars-template">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ posterAvatar }}" class="img-circle" />
                </div>
                <blockquote>
                    <p>{{{ message }}}</p>
                    <footer>{{ poster }}</footer></blockquote>
              
            </div>
        </li>
    </script>
</body>
</html>