<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${name} + '!!!!'"></title>
    <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap.min.css" />
    <script src="/js/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script src="/js/vendor/underscore/underscore-min.js"></script>
    <script src="/js/vendor/handlebars/handlebars-v2.0.0.js"></script>
    <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1 th:inline="text">Learning with [[${name}]] <small>Debugging with Chrome Developer Tools</small></h1>
		</div>
		<div class="row">
			<div class="jumbotron">
			  <h2>We have learned <span id="learning-count">0</span> things thanks to <span th:text="${name}"></span>.</h2>
			  <button class="btn btn-success" id="learn-incrementer">Increment learning counter</button>
			  <button class="btn btn-danger" id="broken-button">This button is broken</button>
			</div>
		</div>
	    <!-- Google Image results -->
	    <div class="row">
	       <div th:each="item : ${googleImages}" class="col-md-2">
                <img th:src="${item.getImage().getThumbnailLink()}" th:alt="${item.getTitle()}" class="img-responsive"/>            
           </div>
		</div>
		<div class="row">
		  <div class="col-md-6">
	        <h2>Tweets</h2>
	        <ul class="list-group" id="tweets" th:attr="data-q=${name}"></ul>
	      </div>
	      <div class="col-md-6">
	        <h2>Google Results</h2>
	        <ul class="list-group">
	            <li th:each="item : ${googleResults}"
	                class="list-group-item">
	                <p><a th:href="${item.getLink()}" th:utext="${item.getHtmlTitle()}"></a></p>
	                <span th:utext="${item.getHtmlSnippet()}"></span>
	            </li>
	        </ul>
	      </div>
		</div>
	    <h2>Comments from our teachers</h2>
        <p>
            <a class="btn btn-primary" id="comment-simulation" role="button">
                <span class="glyphicon glyphicon-play-circle"></span>
           </a>
        </p>
        <ul id="comments" class="list-group" th:attr="data-regarding=${name}"></ul>
	</div>
	<script id="commentRowTmpl" type="text/x-handlebars-template">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ posterAvatar }}" class="img-circle" />
                </div>
                <blockquote>
                    <p>{{{ message }}}</p>
                    <footer>{{ poster }}</footer></blockquote>
              
            </div>
        </li>
    </script>
    <script id="tweetRowTmpl" type="text/x-handlebars-template">
       <li class="list-group-item">
            <div class="row">
                <div class="col-md-2 hide">
                    <img src="{{user.biggerProfileImageURL}}" class="img-circle" />
                </div>
                <div class="col-md-10">
                    <blockquote>
                        <p>{{text}}</p>
                        <footer class="hide">
                            <a href="'http://twitter.com/{{user.screenName}}">{{user.screenName}}</a>
                                  via <cite>{{{source}}}</cite> 
                        </footer>
                     </blockquote>        
                </div>
            </div>
        </li>
    </script>
</body>
</html>